body {
    background-color: rgb(230, 230, 240);
    font-family: "Verdana", sans-serif;
}

main {
	background-color: white;
	border-radius: 50px;
	margin: auto;
	height: 100%;
	min-height: 100dvh;
}

header {
	color: #343434;
}

.page-title {
	color: #343434;
	font-size: xx-large;
	transition: 0.2s;
}

.page-title:hover {
	color: #808080;
}

.page-link {
	color: #343434;
	font-size: large;
	transition: 0.2s;
	margin-inline: 2dvw;
	margin-top: 2dvh;
	display: inline-flex;
}

.page-link:hover {
	color: #606060;
}

a {
	text-decoration: none;
	transition: 1s;
}

a:hover {
	text-decoration: underline;
}

.intext-link {
	color: #4444BB;
	text-decoration: underline;
}

.wrapper {
	margin: auto;
	width: 65%;
	text-align: center;
	padding: 4dvh;
}

.section-heading {
	color: #343434;
}

.list-elements {
	color: #606060;
	text-align: left;
	list-style-type: none;
}

li {
	padding: 2dvh;
}