body {
    background-color: rgb(230, 230, 240);
    font-family: "Verdana", sans-serif;
}

main {
	height: 100dvh;
	background-color: white;
	border-radius: 50px;
}

header {
	color: #343434;
}

.page-title {
	color: #343434;
	font-size: xx-large;
	transition: 0.2s;
}

.page-title:hover {
	color: #808080;
}

.page-link {
	color: #343434;
	font-size: large;
	transition: 0.2s;
	margin-inline: 2dvw;
	margin-top: 2dvh;
	display: inline-flex
}

.page-link:hover {
	color: #808080;
}

a {
	text-decoration: none;
	transition: 1s;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
	margin: auto;
	width: 50%;
	text-align: center;
	padding: 4dvh;
}