.centered {
	align-items: center;
	justify-content: center;
	line-height: 1.5rem;

	margin-top: 40dvh;
	text-align: center;
}

.centered a {
	text-decoration: none;
	background-color: var(--link-background);
	padding: 6px;
	border-radius: 8px;
	transition: text-shadow 100ms;
	transition-timing-function: linear;
}

.centered a:hover {
	text-shadow: 0 0 2px;
}

.centered a:visited {
	color: inherit;
}