#header {
	margin: auto;
	max-width: 50dvw;
	display:flexbox;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 4dvh;
	padding-bottom: 2dvh;
}

#header a {
	margin-left: 1dvw;
	margin-right: 1dvw;
}

@media screen and (max-width: 1000px) {
	#header {
		max-width: none;
		width: 80dvw;
	}
}