#header {
	margin: auto;
	max-width: 50dvw;
	display:flexbox;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 4dvh;
	padding-bottom: 2dvh;
}

#header a {
	text-decoration: none;
	transition: text-shadow 100ms;
	transition-timing-function: linear;
	padding-inline: 10px;
	background-color: var(--link-background);
	padding-bottom: 4px;
	border-radius: 8px;
	margin-inline: 1dvw;
}

#header a:hover {
	text-shadow: 0 0 2px;
}

#header a:visited {
	color: inherit;
}

@media screen and (max-width: 1000px) {
	#header {
		max-width: none;
		width: 80dvw;
	}
}