:root {
	--color: #343434;
	--background: #eaeaea;
	--alt-background: #f5f5f5;
	--link-background: #ffffff;
	--item-hover: #e6e6e6;
	--item-selected: #dadada;

	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color);
	background-color: var(--background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	border-radius: 20px;
	background: var(--alt-background);
	padding: 1dvh;
	min-height: 10dvh;
}

a {
	text-decoration: none;
	transition: text-shadow 100ms;
	transition-timing-function: linear;
	border-radius: 8px;
	padding: 8px;
	background-color: var(--link-background);
}

a:hover {
	text-shadow: 0 0 2px;
}

a:visited {
	color: inherit;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #dbdbdb;
		--background: #343434;
		--alt-background: #2d2d2d;
		--link-background: #252525;
		--item-hover: #3a3a3a;
		--item-selected: #444444;
	}
}
